header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav ul{
    display: inline;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.principal{
    margin-top: -5px;
    background-color: #CCCCCC;
    font-size: 16px;
    padding: 20px;
    line-height: 25px;
}

.titulo-centralizado{
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

.beneficios{
    background: FFFFFF;
    padding: 20px;
}
.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios  ul{
    list-style-type: square;
    line-height: 25px;
    padding: 30px;
    height: 80px;
    margin-left: 15%;
}

.itens{
    font-style: italic;
}

.imagembeneficios{
    width: 30%;
    border: 4px solid;
    border-radius: 5px;
    border-color: #C78C19;
}

footer{
    text-align: center;
    background-image: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}